<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" id="ng-app" ng-app="diffDemo" ng-cloak lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legislative Diff</title>

  <link rel="stylesheet" href="static/css/packed.css"/>

<script type="text/javascript" src="static/js/packed.min.js"></script>

  <style>
    .match,
    .textdiff span {
      color: gray;
    }

    .ins,
    ins {
      color: black;
      background: #bbffbb;
    }

    .del,
    del {
      color: black;
      background: #ffbbbb;
    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .nav-tabs{
        position:fixed; 
        width:100%;
        background:white; 
        opacity:1;
        margin-top:-4px;
        margin-bottom:10px;
    }
    .tab-content {
        padding:20px;
    }
    .tab-pane {
        padding-top:40px;
    }
    @media print { 
      textarea {
        min-height: 900px;  
     }
    }
  </style>
</head>
<body ng-controller="diffCtrl">
    <link rel="stylesheet" ng-href="{{options.docCSS}}">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
       <a class="navbar-brand" href="#" data-toggle="modal" data-target="#aboutModal">LDiff</a><span style="font-size:10px;">by</span><span><img src="static/imgs/Xcential-Logo.png" style="height:50px; width:120px; margin-left:10px margin-right:20px;"/></span>
    </div><!--/.navbar-header -->
    <div class="btn-group" uib-dropdown is-open="status.isopen" style="margin-left:20px; margin-top: 8px">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
       {{options.docType | uppercase}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-disabled="disabled" ng-click="options.docType='uscode'"><a href="#">US Code</a></li>
        <li role="menuitem"><a href="#" ng-click="options.docType='bill'">Bill</a></li>
        <li role="menuitem"><a href="#" ng-click="options.docType='rules'">Rules</a></li>
      </ul>
    </div>
      <div class="uploadbtngroup pull-right btn-group" style="margin-right: 40px !important; margin-top:5px;">
            <span id="leftDocInput" text-file-upload="" data-file-upload="options" textsourcename="leftDoc" dropzoneselect="#leftDocInput" class="btn btn-default btn-md fileinput-button" title="Upload Document (left)" ng-click="uploadLeft($event)" style="height:40px; width:310px;">
                <i class="glyphicon glyphicon-upload"></i>&#160;
                <span>{{leftDoc.name}}</span>
                <input type="file" name="files[]" ng-disabled="disabled"/>
            </span>
            
            <span id="rightDocInput" text-file-upload="" data-file-upload="options" dropzoneselect="#rightDocInput" textsourcename="rightDoc" class="btn btn-default btn-md fileinput-button" title="Upload Document (right)" ng-click="uploadRight($event)" style="height:40px; width:310px;">
            <i class="glyphicon glyphicon-upload"></i>&#160;
            <span>{{rightDoc.name}}</span>
            <input type="file" name="files[]" ng-disabled="disabled"/>
            </span>
      </div>
  </div><!-- .navbar -->
  <div style="margin-top:50px; "> <!-- tabset -->
  <uib-tabset active="active">
    <uib-tab index="0" heading="">
      <uib-tab-heading>
      {{leftDoc.name}}<a href="#" ng-click="editLeft=!editLeft" >&#160;&#160;<i class="glyphicon glyphicon-edit" ng-if="!editLeft"></i><i class="glyphicon glyphicon-file" ng-if="editLeft"></i></a>

      </uib-tab-heading>
      <textarea ng-model="leftDoc.text" ng-if="editLeft" style="width:100%; min-height:500px;"></textarea>
      <div ng-bind-html="leftDoc.text | trust" ng-if="!editLeft"></div>
    </uib-tab>
    <uib-tab index="2" >
      <uib-tab-heading>
      {{rightDoc.name}}<a href="#" ng-click="editRight=!editRight" >&#160;&#160;<i class="glyphicon glyphicon-edit" ng-if="!editRight"></i><i class="glyphicon glyphicon-file" ng-if="editRight"></i></a>
      </uib-tab-heading>
      <textarea ng-model="rightDoc.text" ng-if="editRight" style="width:100%; min-height:500px"></textarea>
      <div ng-bind-html="rightDoc.text | trust" ng-if="!editRight"></div>
    </uib-tab>
    <uib-tab index="3" >
      <uib-tab-heading>
        Structured Compare
      </uib-tab-heading>
      <rich-text-diff left="leftDoc.text" right="rightDoc.text"></rich-text-diff>
    </uib-tab>
    <uib-tab index="4" >
      <uib-tab-heading>
        Text Compare
      </uib-tab-heading>
      <pre class="textdiff" semantic-diff left-obj="leftDoc.text" right-obj="rightDoc.text" options="options"></pre>
      </uib-tab>
      </uib-tabset>
  </div>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">About&#160;LDiff</h4>
      </div>
      <div class="modal-body">
          <i>LDiff</i> compares two documents in the browser. You can upload two files to compare using the buttons on the right of the navbar, at the top of the page, or simply drag and drop a file from your desktop onto each button. To copy and paste text to compare, click on the 'edit' icon next to the document name.
          <i>LDiff</i>  works for both structured and unstructured text. The 'Structured Compare' tab is best for viewing comparisons of xml or html documents; the 'Text Compare' is best for plain text documents. The default styling, and the initial example, is for a U.S. House bill.
          For more details see the <a href="static/README.html">README file</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" defer src="static/js/angular-diff-match-patch.js"></script>
<script type="text/javascript" defer src="static/js/app.js"></script>
</html>
