<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" id="ng-app" ng-app="diffDemo" lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>angular-diff-match-patch</title>

<link rel="stylesheet" href="static/css/packed.css"/>

<script type="text/javascript" src="static/js/packed.min.js"></script>

  <style>
    .match,
    .textdiff span {
      color: gray;
    }

    .ins,
    ins {
      color: black;
      background: #bbffbb;
    }

    .del,
    del {
      color: black;
      background: #ffbbbb;
    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .tab-content {
        padding:20px;
    }
  </style>
</head>
<body ng-controller="diffCtrl">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">LDiff</a>
      </div><!--/.navbar-header -->
      <div class="uploadbtngroup btn-group" style="margin-left:40px">
            <span id="leftDocInput" text-file-upload="" data-file-upload="options" textsourcename="leftDoc" dropzoneselect="#leftDocInput" class="btn btn-default btn-md fileinput-button" title="Upload Document (left)" ng-click="uploadLeft($event)" style="height:40px; width:300px;">
                <i class="glyphicon glyphicon-upload"></i>&#160;
                <span>{{leftDoc.name}}</span>
                <input type="file" name="files[]" ng-disabled="disabled"/>
            </span>
            <span id="rightDocInput" text-file-upload="" data-file-upload="options" dropzoneselect="#rightDocInput" textsourcename="rightDoc" class="btn btn-default btn-md fileinput-button" title="Upload Document (right)" ng-click="uploadRight($event)" style="height:40px; width:300px;">
            <i class="glyphicon glyphicon-upload"></i>&#160;
            <span>{{rightDoc.name}}</span>
            <input type="file" name="files[]" ng-disabled="disabled"/>
            </span>
      </div>
  </div><!-- .navbar -->
  <div style="margin-top:50px;"> <!-- tabset -->
  <uib-tabset active="active">
    <uib-tab index="0" heading="{{leftDoc.name}}">
        {{leftDoc.text}}
    </uib-tab>
    <uib-tab index="2" heading="{{rightDoc.name}}">
        {{rightDoc.text}}
    </uib-tab>
    <uib-tab index="3" >
      <uib-tab-heading>
      Structured Text Diff 
      </uib-tab-heading>
      <rich-text-diff left="leftDoc.text" right="rightDoc.text"></rich-text-diff>
    </uib-tab>
    <uib-tab index="4" >
      <uib-tab-heading>
      Plain Text Diff 
      </uib-tab-heading>
      <pre class="textdiff" semantic-diff left-obj="leftDoc.text" right-obj="rightDoc.text" options="options"></pre>
    </uib-tab>
  </uib-tabset>
  </div>
</body>
  <script type="text/javascript" defer src="static/js/angular-diff-match-patch.js"></script>
  <script type="text/javascript" defer src="static/js/app.js"></script>
</html>
